
.footer {
    /* display: flex; */
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #ffffff;
    border-top: 5px solid #0f3460;
    font-family: "Arial", sans-serif;
  }
  
 
  /* .footer-left,
  .footer-right {
    width: 45%;
  } */
  
  
  .footer-logo {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
  }
  
  
  .footer-left h2,
  .footer-right h2 {
    margin-bottom: 15px;
    color: #e94560;
  }
  
  
  .footer-left p,
  .footer-left a {
    margin: 5px 0;
  }
  
  .resume-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #e94560;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .resume-btn:hover {
    background: #f24c6f;
  }
  
 
  .message-form {
    display: flex;
    flex-direction: column;
  }
  
  
  .form-input,
  .form-textarea {
    margin-bottom: 15px;
    
    border: 1px solid #0f3460;
    border-radius: 5px;
    background: #1a1a2e;
    color: #ffffff;
    font-size: 18px;
   
  }
  
 
  .form-textarea {
    min-height: 150px;
    resize: none;
  }
  
 
  
  .form-button:hover {
    background: #f24c6f;
  }
  

  .status-message {
    margin-top: 15px;
    color: #00ff00; 
    font-size: 16px;
  }
  